header{
    background-color: $bg-color;
    @include flexCenter();
    color: $text-color;
}
header button{
    background-color: red;
    padding: $text-padding;
    color: $text-color;
    font-size: 20px;
}